<!DOCTYPE html>
<html>

<head>
    <title>Pokemon API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/thirdparty/highlight/styles/dracula.css">
    <link rel="icon" type="image/svg" href="pokeball.svg" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>

</head>

<body class="is-preload">
    <div id="wrapper">

        <!-- Header -->
        <header id="header">

            <nav id="topbar">
                <a href="">Home</a>
                <a href="">Artwork</a>
                <div class="logo"><img src="pokeball.svg" class="invert" /></div>
                <a href="">Responses</a>
                <a href="">Contact</a>
            </nav>

            <div class="content">
                <div class="inner">
                    <h1>Pokemon</h1>
                    <p>
                        A toy pokemon API running on Sanic, MongoDb, and Celery.
                    </p>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#credits">Credits</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">

            <article id="intro">
            </article>

            <article id="work">
            </article>

            <article id="about">
                <pre><code>{% include 'test.py' %}</code></pre>
            </article>

            <article id="credits">
                This website was created by Eric Cao. The template for the website is Dimension designed by HTML5 UP and
                was released for free under the creative commons license. Information comes from the Pokemon Database
                and Bulbapedia.
            </article>

        </div>

        <footer>
            <p class="copyright">
                © Eric Cao
            </p>
        </footer>
    </div>

    <div id="bg"></div>


    <script src="assets/thirdparty/highlight/highlight.pack.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>